@model TPLOCAL1.Models.FormModel
@{
    ViewData["TitlePage"] = "Page de validation";
    ViewData["Title"] = ViewData["TitlePage"];
}
    
    
        <table>
             <caption>Informations personnelles</caption>
            <tr>
                <th>Nom</th>
                <td>@Html.DisplayFor(Model => Model.Nom)</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>@Html.DisplayFor(Model => Model.Prenom)</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>@Html.DisplayFor(Model => Model.Genre)</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>@Html.DisplayFor(Model => Model.Adresse)</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>@Html.DisplayFor(Model => Model.CodePostal)</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>@Html.DisplayFor(Model => Model.Ville)</td>
            </tr>
            <tr>
                <th>Adresse email</th>
                <td>@Html.DisplayFor(Model => Model.AdresseEmail)</td>
            </tr>

        </table>
   

    
        <table>
             <caption>Informations formation suivie</caption>
            <tr>
                <th>Date de début formation</th>
                <td>@Html.DisplayFor(Model => Model.DateDeb)</td>
            </tr>
            <tr>
                <th>Formation suivie</th>
                <td>@Html.DisplayFor(Model => Model.Formation)</td>
            </tr>
        </table>
   

    
        <table>
             <caption>Avis sur la formation</caption>
            <tr>
                <th>Formation Cobol</th>
                <td>@Html.DisplayFor(Model => Model.AvisCBL)</td>
            </tr>
            <tr>
                <th>Formation C#</th>
                <td>@Html.DisplayFor(Model => Model.AvisDotNET)</td>
            </tr>
        </table>
    </div>

